<link rel="stylesheet" type="text/css" href="css/main.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
<script src="js/index.js"></script>
<!doctype html>

<html>
  <style>
    table, th, td {
      border: 1px solid black;
    }
    table {
      border-collapse: collapse;
      width: 85%;
    }
    tr:nth-child(odd){
      background-color: #d9d9d9;
    }

  </style>
<body>
    <form id="target" method="post"  enctype="multipart/form-data">
      <div name ="up" class="upload-btn-wrapper">
        <button id="upload" name="upload" class="btn">Execute MAGROBOX</button>
        <input type="file" id="file" value="go" name="file" accept=".csv"/>
        <br></br>
        <output id="out"></output>        
      </div>
    </form>
</body>
<script>
  function readSingleFile(evt) {
    var f = evt.target.files[0];
    if (f) {
    var r = new FileReader();
    r.onload = function(e) {
        var contents = e.target.result;
        var lines = contents.split("\n"), output = [];
        for (var i=0; i<lines.length; i++){
        output.push("<tr><td>" + lines[i].split(",").join("</td><td>") + "</td></tr>");
        }
        output = "<table>" + output.join("") + "</table>";
        document.getElementById('out').innerHTML = output;
    }
    r.readAsText(f);
    } else { 
        alert("Failed to load file");
    }
}
document.getElementById('file').addEventListener('change', readSingleFile);
</script>
</html>

